body * {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 360px;
    height: 600px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
/*
Add some style blocks below this line to style the card.
*/
img {
   width: 360px;
}

h2, p{
    padding-left: 20px;
}

button {
    margin-left: 20px;
}